<div class="wrapper"><div class="movie-title"><span><span>{{ movie.title }}</span></span></div></div>
<!-- <div class="movie-title">{{ movie.title }}<div class="left"></div><div class="right"></div></div> -->
<div class="movie-detail" style="background-image:url(/image?id={{ movie.imdbID }}&amp;width=125); background-size: 125px; background-repeat: no-repeat;">
<div id="times">
    <p>Tuesday 10 ish oclock</p>
    <p>Tuesday 11 ish oclock</p>
    <p>Tuesday 12 ish oclock</p>
</div>
<h4>Storyline</h4>
<p>{{ movie.plot }}</p>
<h5><span>Director:</span>Tom Hooper</h5>
<h5><span>Writer:</span>David Seidler (screenplay)</h5>
<h5><span>Stars:</span>Colin Firth, Geoffrey Rush and Helena Bonham Carter</h5>
</div>

