<div class="wrapper"><div class="movie-title"><span><span>{{ movie.title }}</span></span></div></div>
<!-- <div class="movie-title">{{ movie.title }}<div class="left"></div><div class="right"></div></div> -->
<div class="movie-detail" style="background-image:url({{ movie.coverURL }}); background-size: 125px; background-repeat: no-repeat;">
<div id="times">
    <p>Tuesday 10 ish oclock</p>
    <p>Tuesday 11 ish oclock</p>
    <p>Tuesday 12 ish oclock</p>
</div>
<h4>Storyline</h4>
<p>Tells the story of the man who became King George VI, the father of Queen Elizabeth II. After his brother abdicates, George ('Bertie') reluctantly assumes the throne. Plagued by a dreaded stammer and considered unfit to be king, Bertie engages the help of an unorthodox speech therapist named Lionel Logue. Through a set of unexpected techniques, and as a result of an unlikely friendship, Bertie is able to find his voice and boldly lead the country through war.</p>
<h5><span>Director:</span>Tom Hooper</h5>
<h5><span>Writer:</span>David Seidler (screenplay)</h5>
<h5><span>Stars:</span>Colin Firth, Geoffrey Rush and Helena Bonham Carter</h5>
</div>

