{% extends "base.html" %}
{% block tabs %}
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/showingNow">Showing Now</a></li>
<li><a href="/comingSoon">Coming Soon</a></li>
<li><a href="/aboutUs" class="active">About Us</a></li>
<li class="last"><a href="/contactUs">Find Us</a></li>
</ul>
{% end %}
{% block body %}
<div class="line-hor"></div>
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <div id="fader">
<!--                    <div id="adcontent"> -->
                        <h3>About <span>Us</span></h3>
                        <div id="cinemaabout_hype_container" style="position:relative;overflow:hidden;width:700px;height:600px;">
                            <script type="text/javascript"><!--
                                 var cinemaTodayText="{{ aboutTodayText }}";
                                 -->
                            </script>
                            <script type="text/javascript" src="/static/Cinema-about_Resources/cinemaabout_hype_generated_script.js?1131"></script>
                        </div>
                    </div>
                    <div id="scraper">
                        {{ modules.AdScraper() }}
                            <br />
                        {{ modules.AdScraper() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}