{% extends "base.html" %}
{% block tabs %}
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/showingNow">Showing Now</a></li>
<li><a href="/comingSoon">Coming Soon</a></li>
<li><a href="/aboutUs">About Us</a></li>
<li class="last"><a href="/contactUs" class="active">Find Us</a></li>
</ul>
{% end %}
{% block body %}
<div class="line-hor"></div>
	<div class="box">
		<div class="border-right">
			<div class="border-left">
				<div class="inner">
					<div id="adcontent">
						<h3>Contact <span>Us</span></h3>
	                        <div id="cinemafindus_hype_container" style="position:relative;overflow:hidden;width:700px;height:600px;">
	                            <script type="text/javascript" src="/static/Cinema-findus_Resources/cinemafindus_hype_generated_script.js?1131"></script>
	                        </div>
	                    </div>
	                    <div id="scraper">
	                        {{ modules.AdScraper() }}
	                            <br />
	                        {{ modules.AdScraper() }}
	                    </div>
					
<!-- 
					<div class="address">
                        <div class="fleft">
                            <span>Address:</span>9 Market Place, Faversham<br />
                            <span>Post Code:</span>ME13 7AG<br />
							<span>Telephone:</span>01795 591211/591735<br />
                            <span>Fax:</span>01795 538033<br />
                            <span>eMail:</span>PTE440@aol.com<br />
						</div>
						<div class="extra-wrap"><span>Miscellaneous info:</span><br />
						    Local train and bus services are really good there's free parking for you too if you like that sort of thing
						</div>
					</div>
						<h3>Our <span>Location</span></h3>
					</div> 
-->
			</div>
		</div>
	</div>
</div>
{% end %}