{% extends "base.html" %}
{% block tabs %}
<ul>
<li><a href="/home" class="active">Home</a></li>
<li><a href="/showingNow">Showing Now</a></li>
<li><a href="/comingSoon">Coming Soon</a></li>
<li><a href="/aboutUs">About Us</a></li>
<li class="last"><a href="/contactUs">Find Us</a></li>
</ul>
{% end %}
{% block body %}
<div id="slogan">
<div class="image png"></div>
<div class="inside">
<h2>We are your<span>Community Cinema</span></h2>
<p>Known affectionately as 'a lovely little cinema', the Royal is actually quite large, built as an Odeon in 1936.
It is one of only about 100 surviving original big-screen cinemas in the UK.</p>
<div class="wrapper"><a href="/showingNow#subform" class="link1"><span><span>Subscribe to Film Times</span></span></a></div>
</div>
</div>
<div class="box">
<div class="border-right">
<div class="border-left">
<div class="inner">
    <h3>Showing <span>Now</span></h3>
    {{ modules.Film(movies) }}
</div>
</div>
</div>
</div>

{% end %}
