{% extends "base.html" %}
{% block tabs %}
<ul>
<li><a href="/home" {% if active == "home" %}class="active"{% end %}>Home</a></li>
<li><a href="/showingNow" {% if active == "showing" %}class="active"{% end %}>Showing Now</a></li>
<li><a href="/comingSoon" {% if active == "coming" %}class="active"{% end %}>Coming Soon</a></li>
<li><a href="/aboutUs" {% if active == "about" %}class="active"{% end %}>About Us</a></li>
<li class="last"><a href="/contactUs" {% if active == "contact" %}class="active"{% end %}>Find Us</a></li>
</ul>
{% end %}
{% block body %}
<div class="line-hor"></div>
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <div id="fader">
                        <h3>Subscribe to <span>Film Times</span></h3>
						<form id="contacts-form" action="/subscribe">
					        <div class="field"><label>Your E-mail:</label><input type="text" value=""></div>
							<a href="#" id="ronfade" class="link3" onclick="fadeEffect.init('fader', 0);document.getElementById('contacts-form').submit()"><span><span>Subscribe</span></span></a>
						</form>
					</div>
                    <div id="scraper">
                        {{ modules.AdScraper() }}
                            <br />
                        {{ modules.AdScraper() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}