{% extends "base.html" %}
{% block tabs %}
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/showingNow" class="active">Showing Now</a></li>
<li><a href="/comingSoon">Coming Soon</a></li>
<li><a href="/aboutUs">About Us</a></li>
<li class="last"><a href="/contactUs">Contact Us</a></li>
</ul>
{% end %}
{% block body %}
<div class="line-hor"></div>
<div class="box">
	<div class="border-right">
		<div class="border-left">
			<div class="inner">
				<h3>Showing <span>Now</span></h3>
				<p>Some really good films are coming up</p>
                <ul class="list">
			        {% for movie in movies %}
			            {{ modules.FilmDetail(movie) }}
			        {% end %}
	            </ul>
            </div>
        </div>
    </div>
</div>
{% end %}